    html {
        scroll-behavior: smooth;
    }
    
    .menu-flex {
        display: flex;
    }
    
    .section1 {
        background-image: url("../assets/h_img.jpg");
        height: 100vh;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 17%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        color: white;
    }
    
    #mouse-click {
        padding-top: 22px;
        padding-bottom: 30px;
    }
    
    .sec {
        background-image: url("/assets/s_image.jpg");
        height: 50vh;
        width: 100%;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 17%;
    }
    
    .sec3 {
        text-align: center;
    }
    
    .sec4 {
        text-align: center;
    }
    
    .sec5 {
        background-image: url("/assets/c_image.jpg");
        height: 100vh;
        width: 100%;
    }
    
    .sec5 {
        text-align: center;
        border: white;
    }
    
    .social {
        text-align: center;
    }
    
    .footer {
        text-align: center;
    }
    
    #par1 {
        display: none;
    }
    
    #par2 {
        display: none;
    }
    
    #par3 {
        display: none;
    }
    /* .development {
        display: none; */
    
    .h1p {
        text-align: center;
    }
    
    #work1 {
        position: relative;
    }
    
    #work2 {
        position: relative;
    }
    
    .paragraph {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .paragraph:hover {
        opacity: 1;
    }
    
    #portfolio {
        margin-right: 16px;
        margin-left: 8%;
    }
    
    .col-md-3 img {
        margin: 20px;
        width: 100%;
    }
    
    #comment {
        height: 50vh;
        margin-left: 4%;
        width: 85%;
    }
    
    #MERGE0 {
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
    }
    
    input[type=text],
    input[type=email],
    #comment {
        background: transparent;
        color: white;
        font-size: 20px;
        font-family: 'Copse', serif;
    }
    
    .form-control {
        color: white;
    }
    
    #MERGE1 {
        width: 30%;
        margin-left: 18%;
        margin-right: 30px;
    }
    
    .text {
        color: skyblue;
        font-weight: bold;
        display: list-item
    }
    
    #MERGE0 {
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
    }
    
    #MERGE1 {
        width: 100%;
        /* margin-left: 4%; */
        margin-bottom: 20px;
    }
    
    .col1 {
        width: 50vh;
    }
    
    .col2 {}
    
    .me {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .mes {
        width: 70%;
        position: relative;
        top: 5px;
        left: 10rem;
        padding-bottom: 5px;
    }