html {
    scroll-behavior: smooth;
}

.section1 {
    background-image: url("../assets/h_img.jpg");
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 17%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

#logo {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
}

#mouse-click {
    padding-top: 22px;
    padding-bottom: 30px;
}